@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Variables */
:root {
  --Ligher-Color: #a5c4e6;
  --After-White: #f5f8fc;
  --subtle-blue: #e7f0f8;
  --Primary-Color: #5690cf;
  --Darker-Primary: #07074b;
  --Darker-Black: #333;
  --Gray-1: #999;
  --Primary-Orange: #e3c210;
}
/* Poppins -  -  */
/* Basic Setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--Darker-Black);
  overflow-x: hidden;
}
button {
  font-family: inherit;
}

.btn-primary:link,
.btn-primary:visited {
  background: var(--Darker-Primary);
  border-radius: 100px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
  background: #fff;
  color: var(--Darker-Primary);
}

.btn-secondary:link,
.btn-secondary:visited {
  border: 1px solid #fff;
  margin-left: 2rem;
  border-radius: 100px;
}

html {
  font-size: 62.5%;
}

/* Reusable */

.section-intro {
  text-align: center;
  padding: 6rem 0;
}

.heading-intro {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.text-intro {
  font-size: 1.6rem;
}
.btn,
.btn:link,
.btn:visited {
  padding: 0.9rem 4.2rem;
  font-size: 1.8rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  text-transform: uppercase;
}

/* General */
.container {
  max-width: 115rem;
  margin: 0 auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/*  Header */
.header {
  background: var(--Primary-Color);
}

.sticky {
  background-color: rgb(2, 2, 2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  border-bottom: 3px solid teal;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  font-size: 4rem;
  font-weight: bold;

  margin-bottom: 1.1rem;
}

.main-nav-list {
  display: flex;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
 
  transition: all 0.3s;

 margin:1rem 2rem;
 padding-bottom:1rem;
 border-bottom: 3px solid transparent;
}

.main-nav-link.active {
  color: orange;
  border-bottom:3px solid orange;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: orange;
}

/* Section-hero */
.section-hero {
  height: 80vh;
  background: var(--Primary-Color);
  padding-top: 10rem;
}

.hero {
  display: grid;
  grid-template-columns: 8fr 2fr;
  position: relative;
}

.hero-text-box {
  padding-top: 9rem;
}
.hero-heading {
  font-size: 4rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.main-heading {
  display: block;
}

.hero-text {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(236, 236, 236);
  width: 70%;
  margin-bottom: 2.5rem;
}

.hero-image-box {
  position: relative;
}

.hero-img-mob {
  width: 95%;
  z-index: 100;
  position: absolute;
  left: 10px;
}

.hero-img-watch {
  width: 95%;
  position: absolute;
  top: 18.3rem;
  right: 16rem;
  z-index: 1;
}

/* Section Service */
.section-services {
  background: var(--subtle-blue);
  padding-bottom: 8rem;
}

.services-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38rem;
  height: 28rem;
  background-color: #fff;
  margin: 0.7rem;
  padding-top: 3rem;
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 10%);
}
.service-box:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.01), -1px -1px rgba(0, 0, 0, 0.01);
}

.service-icon {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: var(--Darker-Primary);
}

.service-icon:hover {
  animation: flash 0.3s;
}

.service-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--Darker-Black);
}

.service-text {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 92%;
  color: #444;
  text-align: center;
}

/* Section Products */
.section-products {
  background: #fff;
  padding-bottom: 10rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin: 1rem;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.05),
    -10px -20px 50px rgba(0, 0, 0, 0.05);
  border: 2px solid transparent;
}

.product-image-box {
  position: relative;
}

.product-image {
  background-size: cover;
  background-position: center;
  height: 25rem;
  transition: all 0.5s;
  width: 100%;
  cursor: pointer;
}
.product-image:hover {
  background-size: cover;
  background-position: center;
  height: 25rem;
}
.product-image-1 {
  background-image: url("img/products/product-watch-front.webp");
}
.product-image-1:hover {
  background-image: url("img/products/product-watch-back.webp");
}
.product-image-2 {
  background-image: url("img/products/product-mobile-front.webp");
}
.product-image-2:hover {
  background-image: url("img/products/product-mobile-back.webp");
}
.product-image-3 {
  background-image: url("img/products/product-headphone-front.webp");
}
.product-image-3:hover {
  background-image: url("img/products/product-headphone-back.webp");
}
.product-image-4 {
  background-image: url("img/products/product-watch2-front.webp");
}
.product-image-4:hover {
  background-image: url("img/products/product-watch2-back.webp");
}

.sticker {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
  padding: 1rem;
  z-index: 3;
}

.sticker-new {
  background: var(--Primary-Color);
}
.sticker-new::before {
  border-left: 15px solid var(--Primary-Color);
}
.sticker-sale {
  background: var(--Primary-Orange);
}

.sticker-sale::before {
  border-left: 15px solid var(--Primary-Orange);
}

.product:hover {
  border: 2px solid var(--Primary-Color);
}

.product-box {
  padding: 1.5rem;
}
.product-stars {
  display: inline-block;
  font-size: 2rem;
  color: var(--Primary-Orange);
  padding-bottom: 1rem;
}

.product-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.product-price {
  color: #c83c43;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.product-old-price {
  vertical-align: text-bottom;
  font-size: 1.1rem;
  padding-left: 0.2rem;
  text-decoration: line-through;
  color: #7e7e7e;
  font-weight: 400;
}

hr {
  border-top: dotted 1px;
  color: var(--Primary-Orange);
}

.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.product-cart i {
  font-size: 1.8rem;
  padding-right: 0.4rem;
  cursor: pointer;
}

.btn-cart {
  background: transparent;
  cursor: pointer;

  border: none;
}
/* Section features */
.section-features {
  background: var(--subtle-blue);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.feature-image {
  position: relative;
  height: 25rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.feature-image-1 {
  background-image: url("img/features/feature-desktop.webp");
}
.feature-image-2 {
  background-image: url("img/features/feature-headphone.webp");
}
.feature-image-3 {
  background-image: url("img/features/feature-laptop.webp");
}
.feature-image-4 {
  background-image: url("img/features/feature-tablet.webp");
}
.feature-image-5 {
  background-image: url("img/features/feature-tv.webp");
}
.feature-image-6 {
  background-image: url("img/features/feature-watch.webp");
}

.feature-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
}
.btn.btn-read:link,
.btn.btn-read:visited {
  background: var(--Primary-Color);
  margin-top: 1rem;
  border-radius: 2px;
  opacity: 0;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
}

.feature-image:hover .btn-read,
.feature-image:hover .feature-text {
  display: block;
  animation: moveUp 1s;
  animation-fill-mode: both;
  color: #fff;
}

.feature-image::after {
  content: "";
  background: rgba(0, 0, 0, 0.685);
  height: 100%;
  position: absolute;
  left: 0%;
  z-index: -1;
}

.feature-image::before {
  content: "";
  background: rgba(0, 0, 0, 0.685);
  height: 100%;
  position: absolute;
  right: 0%;
  z-index: -1;
}

.feature:hover .feature-image::before {
  animation: rightToLeft 1s;
  animation-fill-mode: both;
}
.feature:hover .feature-image::after {
  animation: leftToRight 1s;
  animation-fill-mode: both;
}

/* Section Offers */
.section-offers {
  background: var(--subtle-blue);
}
.offers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10rem;
}

.offer {
  background: #fff;
  margin: 1rem;
  height: 42rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 24%);
  position: relative;
  overflow: hidden;
}

.offer:nth-child(2) {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2), -2px -4px 20px rgba(0, 0, 0, 0.2);
}
.offer:nth-child(2)::after {
  content: "Exclusive";
  background: var(--Darker-Primary);
  position: absolute;
  top: 20px;
  right: -71px;
  transform: rotate(45deg);
  padding: 1rem;
  width: 20rem;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
.offer:nth-child(2) .btn-offer {
  background: var(--Darker-Primary);
  color: #fff;
}
.offer:hover {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2), -2px -4px 20px rgba(0, 0, 0, 0.2);
}
.offer:hover .btn-offer {
  background: var(--Darker-Primary);
  color: #fff;
}
.offer-price {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.offer-price span {
  font-size: 4rem;
  font-weight: 600;
  display: block;
}

.offer-list {
  text-align: center;
  font-size: 1.6rem;
  margin-top: -2rem;
}

.offer-type {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem 0;
}
.offer-list-item:not(:first-child) {
  padding-top: 0.5rem;
}

.btn.btn-offer {
  background: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 1.4rem;
  padding: 0.8rem 2.8rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

/* section contact */
.contacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 6rem 0 5rem 0;
  border-bottom: 5px solid #1f1f1e;
}

.contact-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;

  padding-bottom: 1.5rem;
  color: var(--Gray-1);
}
.contact-title::after {
  content: "";
  height: 2px;
  width: 100px;
  background: #fff;
  display: block;
  margin-top: 2rem;
}
.contact-list {
  color: var(--Gray-1);
}
.contact-list-item {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: var(--Gray-1);
  transition: all 0.5s;
}
.contact-list-item:hover {
  color: #fff;
  transform: translateX(15px);
}
.contact-icon {
  font-size: 1rem;
  padding-right: 0.5rem;
}
.contact-list p {
  padding: 0.5rem 0;
  font-size: 1.4rem;
  transition: all 0.5s;
}
.contact-info {
  cursor: pointer;
}
.contact-info:hover {
  color: var(--Primary-Color);
}

.cards-links {
  padding: 4rem 0;
  border-bottom: 5px solid #1f1f1e;
  margin-bottom: 2rem;
}
.cards-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-logo {
  display: inline-block;
  font-size: 4rem;
  color: #fff;
  padding-right: 1rem;
}
.payment-cards {
  margin-left: 15rem;
}

.social-links {
  margin-right: 10rem;
}
.social-link {
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem;
  width: 4rem;
  height: 3.6rem;
  margin-left: 5px;
}
.twitter {
  background-color: #1da1f2;
}
.google,
.youtube {
  background-color: #db4437;
}
.facebook {
  background-color: #4267b2;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer {
  background: #000;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: var(--Gray-1);
}

.footer-links {
  display: flex;
}

.footer-link {
  padding: 0 0.7rem;
  color: var(--Gray-1);
  transition: all 0.4s;
  font-size: 1.3rem;
}
.footer-link:hover {
  color: var(--Primary-Color);
}

/* 694 */
